<!DOCTYPE html>
<html>

<head>
    <title>Web Page Analyzer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="content">
        <h1>Web Page Analyzer</h1>

        <div class="form">
            <form id="example-form">
                <input type="text" id="url" placeholder="Enter URL">
                <button type="button" id="analyze" disabled>Analyze</button>
            </form>
        </div>
        <div>
            <p id="errormsg" class="errordiagnostic"></p>
        </div>
        <div id="results"></div>
    </div>

    <script src="/js/analyzer.js"></script>
</body>

</html>
